[submodule "libJSON++"]
	path = libjson
	url = ./libjson

[submodule "libSFML"]
	path = libSFML
	url = https://github.com/LaurentGomila/SFML.git
[submodule "libSFML-Py"]
	path = libSFML-Py
	url = git://github.com/Sonkun/python-sfml.git
[submodule "libSFMLPy"]
	path = libSFMLPy
	url = git://github.com/Sonkun/python-sfml.git
